.login {
  display: flex;
  height: 100vh;
  align-items: center;
  /* justify-content: space-between; */
  gap: 8em;
}
.rights {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* align-items: center; */
}
.lefts video {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.lefts {
  position: relative;
  width: 30%;
  /* background-color: red; */
  height: 100%;
}

.logo {
  position: absolute;
  top: 8%;
  cursor: pointer;
  left: 8%;
  z-index: 10;
}
.logo svg path {
  fill: white;
}
.email {
  position: absolute;
  bottom: 8%;
  left: 8%;
  color: white;
}
.rights h1 {
  font-size: 30px;
  font-weight: 600;
}
.rights button {
  display: flex;
  align-items: center;
  gap: 1em;
  /* width: 40em; */

  padding: 1em 9em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .lefts {
    /* display: none; */
  }
  .rights {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    color: white;
  }
  .rights a {
    color: royalblue;
  }
  .lefts {
    position: fixed;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
  .lefts::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.526);
    filter: blur(10px);
  }
  .rights button {
    white-space: nowrap;
    width: 90%;
    text-align: center;
  }
  .rights svg {
    min-width: 1.5em !important;
  }
  .rights svg,
  .rights button p {
    transform: translateX(-1.5em);
  }
}
